
<div class="container">
    <nav>
        <div class="logo">portfolio<b>.</b></div>
        <ul class="navItems">
            <li><a href="#">Home</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">About Me</a></li>
        </ul>
        <div class="links">
            <a href="" src="/my-app/src/assets/SocialLogos/Twitter.png"><i class="fab fa-twitter" ></i></a>
            <a href="" src="/my-app/src/assets/SocialLogos/Githubpng.png"><i class="fab fa-github" ></i></a>
            <a href="" src="/my-app/src/assets/SocialLogos/Instagram.png"><i class="fab fa-instagram" ></i></a>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
